@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-blue: #016496;
  --radius-custom: 23.74px;
  
  --color-sidebar-bg: #ffffff;
  --color-main-bg: #f8fafc;
}

@layer base {
  body {
    @apply font-sans bg-main-bg text-slate-900;
  }
}